<a href="https://colab.research.google.com/github/newstage75/ML_study/blob/master/20220406Python%E5%85%A5%E9%96%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 最短コースでわかるPyTorch＆深層学習プログラミング再学習

#### Python入門

In [1]:
a=1

In [2]:
print(a)
print(type(a))

1
<class 'int'>

In [6]:
t1 = True
t2 = True
f1 = False
f2 = False

In [4]:
# AND
b1 = t1 and t2
print(b1)

True

In [7]:
# OR
b2 = t1 or f1
print(b2)

True

In [8]:
# NOT
b3 = not f1
print(b3)

True

In [9]:
# リスト　[]でくくる。配列に近い。
l = [1, 2, 3, 5, 8, 13]

# リストの値とtype
print(l)
print(type(l))

[1, 2, 3, 5, 8, 13]
<class 'list'>

In [10]:
print(len(l))

6

## リスト

In [11]:
#リストの要素の参照

print(l[0])

print(l[3])

print(l[-1])

1
5
13

In [14]:
#インデックス２以上５未満
print(l[2:5])

#部分リスト　インデックス：０以上インデックス３未満
print(l[0:3])

#開始インデックスが0の場合は省略可能
print(l[:3])

[3, 5, 8]
[1, 2, 3]
[1, 2, 3]

In [16]:
#応用　部分リスト　インデックス：４以上、最後まで
n = len(l)
print(l[4:n])

#最終インデックスまでは省略可能
print(l[4:])

[8, 13]
[8, 13]

In [19]:
#　後ろから２つ
print(l[-2:])

#最初も最後も省略するとリスト全体になる
print(l[ : ])

[8, 13]
[1, 2, 3, 5, 8, 13]

## タプル→（）で囲う。
### **一度定義すると、書き換えられない！！！！！**

In [21]:
# タプル定義
t = (1, 2, 3, 5, 13)

In [23]:
# タプルの値表示
print(t)

#タプルの型表示
print(type(t))

#タプルの要素数
print(len(t))

#タプルの要素参照
print(t[1])

(1, 2, 3, 5, 13)
<class 'tuple'>
5
2

In [24]:
t[1] = 1

TypeError: ignored

In [25]:
x = 1
y = 2
z = (x, y)
print(type(z))

<class 'tuple'>

In [26]:
a, b = z
print(a)
print(b)

1
2

In [27]:
l_tes = [3, 4]

In [28]:
a_l, b_l = l_tes

In [31]:
print(a_l)
print(b_l)

3
4

## 辞書　→{}で囲う
### keyとvalueの関係

In [33]:
# 辞書の定義
my_dict = {'yes':1, 'no':0}
print(my_dict)

{'yes': 1, 'no': 0}

In [34]:
print(type(my_dict))

<class 'dict'>

In [37]:
value1 = my_dict['yes']
value2 = my_dict['no']

In [38]:
print(value1)
print(value2)

1
0

In [39]:
# 辞書への項目追加
my_dict['nutral'] = 2
print(my_dict)

{'yes': 1, 'no': 0, 'nutral': 2}

## 制御構造
###ループ処理

In [40]:
# ループ処理

#リストの定義
list4 = ['One', 'Two', 'Three', 'Four']

# ループ処理
for item in list4:
  print(item)

One
Two
Three
Four

In [41]:
# range関数を使ったループ処理
for item in range(4):
  print(item)

0
1
2
3

In [42]:
# 引数が２つのrangeループ処理
for item in range(1,5):
  print(item)

1
2
3
4

In [43]:
#　辞書とループ処理

#items関数
print(my_dict.items())

dict_items([('yes', 1), ('no', 0), ('nutral', 2)])

In [44]:
# items関数を使ったループ処理
for key, value in my_dict.items():
  print(key, ':', value)

yes : 1
no : 0
nutral : 2

## 条件分岐（if文）

In [45]:
#　条件分岐(if文)

#if文のサンプル
for i in range(1, 5):
  if i % 2 == 0:
    print(i, 'は偶数です。')
  else:
    print(i, 'は奇数です。')

1 は奇数です。
2 は偶数です。
3 は奇数です。
4 は偶数です。